form {
    margin: 0 auto;
    padding: 16px;
    background-color: rgb(216, 216, 216);
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgb(223, 221, 221);
    width: 50%
}

.inputLabel input {
    width: 100%;
    margin: 0
}

.inputLabel > * {
    display: block;
    margin: 6px
}

button {
    margin-top: 10px
}

section {
    margin: 24px 0
}

