main {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

#estagiarios {
    margin: 30px 0;
    font-size: 20px;
}

#btnSelecionarEstagiario {
    margin: 10px;
}

.feriasDisponiveisContainer {
    margin: 30px 0;
}

#ferias > .titulo {
    font-size: 20px;
    margin: 10px 0;
}

th, td {
    text-align: center;
}

#tabelaFeriasSolicitadas {
    margin-top: 50px;
}