table {
    width: 100%;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

tr:hover td {
    background-color: #e0e0e0;
}

.tabela-container {
    width: 90%;
    margin: 5% auto 0;
    overflow: auto;
}

a {
    color: white;
}